.footer {
  height: 368px;
  left: 0px;
  background: #2f2f2f;
}

.footer-justify {
  display: flex;
  justify-content: center;
}

.icon-footer {
  margin-top: 48px;
  margin-bottom: 58px;
  height: 46px;
  width: 153px;
}

.title-footer {
  margin-top: 40px;
  margin-bottom: 48px;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.footer-border {
  margin-top: 50px;
  width: 1000px;
  box-sizing: border-box;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #d9d9d9;
}
